{% extends 'dbms/base.html' %}

{% block title %} 
    {{ show.movie.title }} | Movies Central
{% endblock %}

{% block nav_movie_list %}
<li class="nav-item ">
    <a class="nav-link active" href="#">
        {{ show.movie.title }}
    </a>
</li>
{% endblock %}

{% block body %} 
    <div class="jumbotron">
        <div class="container">
            <h1>
                {{ show.movie.title }}
            </h1>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-7">
                <h3>
                    {{ show.movie.title }}
                </h3>
                <br>
                <h5>
                    {{ show.movie.genre }}
                </h5>
                <br>
                {{ show.movie.rating }}
                
            </div>
            <div class="col-1">
                Seats left: {{ show.capacity }}
            </div>
            <div class="col-4">
                {% if show.movie.poster %}
                    <img src="{{ show.movie.poster.url }}" alt="{{ movie.title }} class="img-responsive" width = "100%"">
                {% endif %}
                
            </div>
        </div>
        
        <div class="row">
            <div class="col-8">
                {{ show.movie.desc}}
            </div>
            <div class="col-3">

            </div>
            <div class="col-1">
                <a href="#">BUY NOW!!!!</a>
            </div>
        </div>
        
        
        
    </div>
    

    
{% endblock %}