{% extends 'dbms/base.html' %}

{% block title %} 
    Signup | Movies Central
{% endblock %}

{% block nav_signup %}
<li class="nav-item">
    <a class="nav-link active" href="/theater/signup/">
        Sign up
    </a>
</li>
{% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1>Signup Page</h1>
    </div>
    
</div>
<div class="container">
    <form class="site-form" action="/theater/signup/" method="post">
        {% csrf_token %}
        {{ form }}
        <br>
        <input type="submit" value="Signup">
    </form>
    
</div>
{% endblock %}